@media (min:992px) and (max:1200px) {

    .navbar-light .navbar-nav .nav-link {
        color: #fff;
        padding: 0px 20px;
        line-height: 45px;
        font-weight: 600;
        font-size: 24px;
    }

}